.darkmode {
  display: flex;
}

.darkmode label {
  width: 80px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.darkmode label:after {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  top: 1.9px;
  left: 2.5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.darkmode input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkmode input:checked + label {
  background: #242424;
}

.darkmode input:checked + label:after {
  left: 78px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

.darkmode label,
label:after {
  transition: 0.3s;
}

.darkmode label:active:after {
  width: 40px;
}

.darkmode label svg {
  position: absolute;
  width: 21px;
  top: 5px;
  z-index: 100;
}

.darkmode label svg.sun {
  left: 5px;
  fill: #111111;
  transition: 0.3s;
  background-color: transparent;
}

.darkmode label svg.moon {
  left: 55px;
  fill: #111111;
  transition: 0.3s;
  background-color: transparent;
}

.darkmode input:checked + label svg.sun {
  fill: #fff;
}

.darkmode input:checked + label svg.moon {
  fill: #fff;
}
