<footer>
  <div class="container_footer">
    <div class="head_footer">
      <div class="newsletter">
        <div class="newsletter_title">
          <h1>GET THE MOST HOT NEWS AND PROMOTIONS</h1>
          <h4>Directly to your email</h4>
        </div>
        <div class="newsletter_input">
          <input type="text" placeholder="Enter your email here" />
          <i class="fa-solid fa-arrow-right"></i>
        </div>

      </div>
    </div>
    <div class="main_footer">
      <div class="main_footer_columns">
        <div class="logo_box_content">
          <a class="logo" href="">The MarketPlace</a>

          <ul class="social-icons-list">
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <div class="social-icon">
                <i class="fa-brands fa-facebook"></i>
              </div>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <div class="social-icon">
                <i class="fa-brands fa-twitter"></i>
              </div>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <div class="social-icon">
                <i class="fa-brands fa-instagram"></i>
              </div>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <div class="social-icon">
                <i class="fa-brands fa-youtube"></i>
              </div>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <div class="social-icon"><i class="fa-brands fa-tiktok"></i></div>
            </li>
            <li>
              <a
                href=""
                target="_blank"
                rel="noopener noreferrer"
              ></a>
              <div class="social-icon">
                <i class="fa-brands fa-telegram"></i>
              </div>
            </li>
          </ul>
        </div>

        <div class="box_content">
          <div class="box_content_title">
            <h1>INFORMATION</h1>
          </div>
          <div class="box_content_links">
            <div>
              <li><a>Payment Methods</a></li>
              <li><a>Shipping of Orders and Postage</a></li>
              <li><a>Shipping of Large Appliances</a></li>
              <li><a>Exchanges and Returns</a></li>
              <li><a>Online Account Terms and Conditions</a></li>
              <li><a>Privacy Policy</a></li>
              <li><a>Coockies Policy</a></li>
            </div>
            <div>
                <li><a>Warrantly</a></li>
                <li><a>Dispute Resolution</a></li>
                <li><a>Mapfre Insurance</a></li>
                <li><a>Complaint Book</a></li>
                <li><a>Credit Intermediation Activity</a></li>
            </div>
          </div>
        </div>

        <div class="box_content">
          <div class="box_content_title">
            <h1>STORE</h1>
          </div>
          <div class="box_content_links">
            <div>
                <li><a>Client Area</a></li>
                <li><a>Special Campaigns and Offers</a></li>
                <li><a>New Products</a></li>
                <li><a>About The MarketPlace</a></li>
            </div>
            <div>
                <li><a>Recruitment</a></li>
                <li><a>The MarketPlace Stores</a></li>
                <li><a>Help Center</a></li>
            </div>
          </div>
        </div>
      </div>

      <div>
        <ul class="payments_methods_list">
          <li>
            <img
              src="../../../../assets/svg/mastercard.svg"
              alt="Flag mastercard"
            />
          </li>
          <li><img src="../../../../assets/svg/visa.svg" alt="Flag visa" /></li>
          <li>
            <img
              src="../../../../assets/svg/multibanco.svg"
              alt="Flag multibanco"
            />
          </li>
          <li>
            <img src="../../../../assets/svg/mbway.svg" alt="Flag mbway" />
          </li>
          <li><img src="../../../../assets/svg/oney.svg" alt="Flag oney" /></li>
        </ul>
      </div>

    </div>
  </div>

  <nav class="nav_footer">
    <span> Developed by: Jose Igor Souza </span>
  </nav>
</footer>
