<div class="container">
  <div class="row">
    <ng-container>
      <!-- *ngFor="let item of productList" -->
      <div class="card col-md-3">
        
        <button class="btn pre-venda">Pré-Venda</button>
        <div class="box">
          <img
          class="card-img-top"
            src="https://static.pcdiga.com/media/catalog/product/cache/4a9972e1440204cef7cf19ceb7c4fc35/p/0/p047659_1_.jpg"
            alt="product photo"
          />
        </div>
        <button class="btn oferta">Oferta Rato Wireless</button>

        <div class="title">
          <h2>Smartphone Apple iPhone 14 Plus 6.7" 128GB Roxo</h2>

          <p>
            iPhone 14 Plus, Pense em frande com um ecrã maior de 6.7 polegadas e
            bateria para todo o dia. Tire Fotografias...
          </p>
        </div>

        <div class="stock">
          <div>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 15 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.364 15.007C3.437 15.003.254 11.847.25 7.951V7.81C.328 3.932 3.547.844 7.457.895c3.91.052 7.046 3.224 7.02 7.102-.025 3.879-3.202 7.01-7.113 7.01zM4.1 7.662l-1.004.995 2.846 2.822 5.692-5.645-1.003-1.002-4.689 4.65L4.1 7.662z"
                fill="currentColor"
              ></path>
            </svg>
          </div>

          <div>
            <span><strong>Em stock</strong></span
            ><br />
            <span>Entraga prevista 06 de Outubro</span>
          </div>
        </div>
        <p class="price">1189,00 €</p>
        <button class="btn btn-favoritos">
          <i class="fa-regular fa-star"></i> Favoritos
        </button>
      </div>
    </ng-container>
  </div>
</div>
