<div class="categories">

    <div class="wrapper">

        <div class="categories-container">
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/a/n/androidphones.png" alt="product photo">
                    </div>
                </div>
                <h4>Smartphones</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/t/e/televisores.png" alt="product photo">
                    </div>
                </div>
                <h4>Televisions</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/g/r/grandeseletrodomesticos.png" alt="product photo">
                    </div>
                </div>
                <h4>Home Appliances</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/s/a/saudelifestyle.png" alt="product photo">
                    </div>
                </div>
                <h4>Health and Lifestyle</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/s/m/smarthome.png" alt="product photo">
                    </div>
                </div>
                <h4>Smart Home and Lighting</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/b/i/bicicletas_2.png" alt="product photo">
                    </div>
                </div>
                <h4>Vahicles and Drones</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/b/r/brinquedos4.png" alt="product photo">
                    </div>
                </div>
                <h4>Games and Toys</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/p/o/powertools.png" alt="product photo">
                    </div>
                </div>
                <h4>Tools and DIY</h4>
            </a>
            <a href="" class="categories-content">
                <div class="category-background">
                    <div class="category">
                        <img src="https://static.pcdiga.com/media/Skrey_CategorySlider/Slide_Image/p/0/p044992_1_1.png" alt="product photo">
                    </div>
                </div>
                <h4>Gardening</h4>
            </a>
        </div>

    </div>

</div>


